$dotColorAdmin: blue;
$dotColorDev: red;
$dotColorDev2: orange;

%dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.dot-box {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.dot-supervisor {
    @extend %dot;
    background-color: $dotColorAdmin;
}

.dot-developer {
    @extend %dot;
    background-color: $dotColorDev;
}
.dot-scrum {
    @extend %dot;
    background-color: $dotColorDev2;
}

.card {
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-left: 0.1rem solid #ccc;
    margin-bottom: 0.2rem;
    border-radius: 5px;
    line-height: 1.1;
    word-wrap: break-word;
    cursor: pointer;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card:hover {
    opacity: 0.2;
}

$font: Helvetica, sans-serif;
.name-font {
    font: $font;
    size: 15px;
    font-weight: bold;
}

.role-font {
    font: $font;
    size: 13px;
}

.header {
    font-family: $font;
    font-weight: bold;
    font-size: 36px;
    color: #4d4d4d;

    padding-bottom: 10px;
}

@mixin box-size($h, $w) {
    width:$w;
    height: $h;
}

.task-card {
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-left: 0.1rem solid #ccc;
    border-top: 0.1rem solid #ccc;
    border-right: 0.1rem solid #ccc;

    margin-bottom: 0.2rem;
    border-radius: 5px;
    text-overflow: ellipsis;

    @include box-size(70px, 220px);

    padding: 10px;
    box-shadow: 5px 7px 10px #e0dbdbbd;
}

.task-card:hover {
    cursor: pointer; 
}

.task-title {
    font: $font;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}

 .assignee-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;

    color: #fff; 
    background-color: magenta; //TODO make this as variable
    text-align: center;
    display: inline-block;
    
    border: gray;
    border-style: solid;
    border-width: 0.5px;

    margin-right: 2px;
}
.assignee-circle:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    margin-left: 25px;
    height: 900px;

}

.columnHeader {
    text-align: center;
}